@media screen and (max-width: 480px) {
    
  
}
@media screen and (min-width: 320px) {
    .main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
  
}

@media screen and (max-width: 992px) {
    .btn-icon{
        display: block !important;
    }
    .menu_left_create,.menu_left_all,.menu_left_bottom{
        display: none;
    }
    .menu_left {
        width: 25px;
        height: calc(100vh - 15px);
    }
    .list_todo {
        width: 310px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        
    }
    .list_todo{
        width: 100%;
        height: 450px;
    }
    .detail_todo{
        width: 100%;
    }
    .menu_left{
        font-size: 14px;
    }
    .qty{
        display: none;
    }
}
@media screen and (max-width: 1120px ) {
    .hidd{
        display: none;
    }
    .detail_todo_option_right a {
        padding: 10px 10px;
    }
    .detail_todo_option_left a {
        padding: 10px 10px;
    }
    .detail_todo_option_right a img {
        margin-right: 0px;
    }
    .detail_todo_option_left a img {
        width: 17px;
        height: 17px;
        margin-right: 0px;
    }
}
