@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: normal;
    src: local('Tangerine'), url('../font/futura-pt-medium.otf') format('truetype');
  }
@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Tangerine'), url('../font/FuturaPTBook.otf') format('truetype');
}
@import './header/header.scss';
@import './sidebar/menu.scss';
@import './note/notelist.scss';
@import './note/detail.scss';
@import './modal/backg.scss';
@import './form/page.scss';

* {
    margin:0px;
    padding:0px;
}
#wrapper{
    display: flex;
}