@charset "UTF-8";
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("../font/futura-pt-medium.otf") format("truetype");
}
@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("../font/FuturaPTBook.otf") format("truetype");
}
.menu_left {
  font-size: 16px;
  background-color: #313F46;
  width: 270px;
  min-height: calc(100vh - 15px);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.menu_left_create a {
  font-family: "Futura PT", sans-serif;
  color: #37312B;
  display: block;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.menu_left_create a span {
  margin-right: 8px;
}
.menu_left_all {
  margin-top: 15px;
  border-radius: 20px;
}
.menu_left_all ul .accordion {
  transition: 0.4s;
}
.menu_left_all ul .accordion:after {
  content: "+";
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
  margin-left: 5px;
}
.menu_left_all ul .active:after {
  content: "\2212";
}
.menu_left_all ul li {
  position: relative;
  list-style: none;
}
.menu_left_all ul li a:hover {
  background-color: #37312B;
  border-radius: 20px;
}
.menu_left_all ul li:hover {
  cursor: pointer;
}
.menu_left_all ul li p {
  font-family: "Futura PT", sans-serif;
  color: #fff;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.menu_left_all ul li p span {
  margin-right: 3px;
}
.menu_left_all ul li:focus > ul.menu_left_all_list_sub {
  display: block;
}
.menu_left_all ul li ul {
  margin-left: 30px;
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.menu_left_all a {
  position: relative;
  font-family: "Futura PT", sans-serif;
  color: #fff;
  display: block;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.menu_left_all a span {
  margin-right: 8px;
}
.menu_left_all a .qty {
  background-color: #554e45;
  color: #fff;
  border-radius: 50%;
  font-size: 13px;
  padding: 6px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 7px;
  width: 20px;
  height: 20px;
}
.menu_left_all button {
  background: none;
  border: none;
  position: relative;
  font-family: "Futura PT", sans-serif;
  font-size: 16px;
  color: #fff;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.menu_left_all button:hover {
  background-color: #37312B;
  border-radius: 20px;
}
.menu_left_all button:focus {
  border: none;
  outline: none;
}
.menu_left_bottom {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  font-family: "Futura PT", sans-serif;
}
.menu_left_bottom a {
  color: #fff;
  text-decoration: none;
}
.menu_left_bottom a img {
  margin-left: 5px;
}

.list_todo {
  position: relative;
  width: 450px;
  overflow-y: scroll;
  height: calc(100vh - 2px);
  border: 1px solid #DCDCDC;
  border-top: 2px solid #DCDCDC;
  border-left: none;
}
.list_todo_search {
  height: 40px;
  background-color: #F4F4F4;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #DCDCDC;
}
.list_todo_search input[type=text] {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 120px;
  border: 1px solid #CDD6DD;
}
.list_todo_search input[type=text]:focus {
  border: 1px solid #CDD6DD;
  outline: none;
}
.list_todo_search input[type=submit] {
  background-image: url(../images/search-solid.png);
  background-size: cover;
  width: 20px;
  border: none;
  position: absolute;
  right: 21px;
  top: 25px;
  height: 20px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.list_todo_boxList {
  font-family: "Futura PT", sans-serif;
}
.list_todo_boxList_title {
  height: 23px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
}
.list_todo_boxList_task .active {
  border-left: 5px solid #FE6100;
}
.list_todo_boxList_task_item {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
}
.list_todo_boxList_task_item:last-child {
  border-bottom: none;
}
.list_todo_boxList_task_item_content {
  padding-top: 20px;
  padding-right: 9px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.list_todo_boxList_task_item_content .taskClick {
  color: #2B3137;
  cursor: pointer;
  line-height: 22px;
}
.list_todo_boxList_task_item_content .taskClick #icon:first-child {
  margin-right: 5px;
}
.list_todo_boxList_task_item_content .taskClick #icon:last-child {
  margin-right: 5px;
  margin-left: 5px;
}
.list_todo_boxList_task_item_content p {
  font-family: "Futura PT Book", sans-serif;
  font-size: 13px;
  color: #ACA9A3;
}
.list_todo_boxList_task_item_content h4 {
  font-size: 17px;
  color: #37312B;
}
.list_todo_boxList_task_item .clip::before {
  content: "";
  background-image: url(../images/clip.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  right: 19px;
  width: 32px;
  height: 32px;
  background-color: #FFDFCC;
  border-radius: 50px;
  background-position-x: 8px;
  background-position-y: 8px;
}

.detail_todo {
  width: calc(100% - 750px);
}
.detail_todo_option {
  background-color: #F4F4F4;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding-left: 31px;
  font-family: "Futura PT", sans-serif;
}
.detail_todo_option_left {
  display: flex;
  align-items: center;
}
.detail_todo_option_left a {
  display: flex;
  align-items: center;
  border: 1px solid #CDD6DD;
  padding: 11px 20px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 15px;
  color: #313F46;
  text-decoration: none;
  font-size: 13px;
}
.detail_todo_option_left a img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.detail_todo_option_left #clipDetail {
  background-color: #FFF1E8;
  color: #FE8033;
}
.detail_todo_option_right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.detail_todo_option_right a {
  font-size: 13px;
  display: flex;
  align-items: center;
  border: 1px solid #CDD6DD;
  padding: 11px 20px;
  background-color: #313F46;
  border-radius: 50px;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
}
.detail_todo_option_right a img {
  margin-right: 5px;
}
.detail_todo_content_title_info {
  padding-top: 30px;
  padding-left: 40px;
}
.detail_todo_content_title_info p {
  font-family: "Futura PT Book", sans-serif;
  font-size: 15px;
  color: #2B3137;
}
.detail_todo_content_title_info #icon {
  margin-right: 5px;
}
.detail_todo_content_title_info #icon:last-child {
  margin-left: 8px;
}
.detail_todo_content_title_text {
  padding-left: 10px;
  margin-left: 40px;
  margin-top: 16px;
  margin-right: 33.5px;
  font-family: "Futura PT Book", sans-serif;
  font-size: 24px;
  color: #2B3137;
  border-bottom: 1px solid #F0F0F0;
}
.detail_todo_content_text {
  font-family: "Futura PT Book", sans-serif;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 21.5px;
  margin-right: 33.5px;
}

.modal {
  font-family: "Futura PT Book", sans-serif;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.modal.show {
  opacity: 1;
}
.modal__body {
  transition: transform 0.3s ease-out;
  width: 40%;
  margin: 0px auto;
  background: #fff;
  margin-top: 50px;
  z-index: 22;
}
.modal__body__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.modal__body__header h5 {
  font-size: 20px;
}
.modal__body__header button {
  background: transparent;
  border: none;
}
.modal__body__header span {
  font-size: 25px;
  cursor: pointer;
}
.modal__body__content {
  padding: 15px;
}
.modal__body__content .form-group {
  margin-bottom: 1rem;
}
.modal__body__content .form-group input {
  display: block;
  width: 94%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal__body__content .form-group button {
  font-family: "Futura PT Book", sans-serif;
  font-size: 17px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
}

.add__task {
  width: calc(100% - 750px);
  box-sizing: border-box;
  font-family: "Futura PT Book", sans-serif;
}
.add__task__header {
  background-color: #F4F4F4;
  font-family: "Futura PT Book", sans-serif;
  padding-top: 19px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-top: 2px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}
.add__task__content {
  padding-top: 15px;
  padding-left: 15px;
}
.add__task__content input[type=text] {
  height: 35px;
}
.add__task__content input[type=text]:focus, .add__task__content textarea:focus {
  outline: none;
}
.add__task__content input[type=text], .add__task__content textarea {
  padding-top: 2px;
  padding-left: 10px;
  width: 96%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.add__task__content #recommend-tag {
  display: none;
  margin-bottom: 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
  width: 97.6%;
  margin-top: -15px;
}
.add__task__content #recommend-tag ul li {
  font-family: "Futura PT Book", sans-serif;
  cursor: pointer;
  list-style: none;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 14px;
  height: 34px;
  padding: 4px 8px;
  margin-bottom: 15px;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
  width: 95%;
  min-height: 34px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.6;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 1px;
  overflow: hidden;
  word-wrap: break-word;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input.tag-input {
  flex: 3;
  border: 0;
  outline: 0;
}

.tag {
  position: relative;
  margin: 2px 6px 2px 0;
  padding: 1px 20px 1px 8px;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #317CAF;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  cursor: default;
}
.tag:first-child {
  margin-left: 0;
}
.tag--marked {
  background-color: #6fadd7;
}
.tag--exists {
  background-color: #EDB5A1;
  -webkit-animation: shake 1s linear;
          animation: shake 1s linear;
}
.tag__name {
  margin-right: 3px;
}

.tag__remove {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 400;
  transition: opacity 0.3s ease;
  opacity: 0.5;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #fff;
  line-height: 1;
}
.tag__remove:hover {
  opacity: 1;
}
.tag__remove:focus {
  outline: 5px auto #fff;
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}
* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  display: flex;
}