@mixin btnC($a,$b,$td,$lr) {
    padding: $td $lr;
    width: 70px;
    border: 1px solid $a;
    border-radius: 15px;
    background-color: $a;
    color: $b;
}

.modal{
    &.show{
        opacity: 1;
    }
    font: {
        family: 'Futura PT Book', sans-serif;
    }
    opacity: 0;
    transition: opacity .5s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,0.3);
    &__body{
        transition: -webkit-transform .3s ease-out; 
        transition: transform .3s ease-out; 
        transition: transform .3s ease-out,-webkit-transform .3s ease-out;
        width: 40%;
        margin: 0px auto;
        background: #fff;
        margin-top: 50px;
        z-index: 22;
        &__header{
            h5{
                font: {
                    size: 20px;
                }
            }
            display: flex;
            justify-content: space-between;
            padding: 15px;
            border-bottom:1px solid #ddd;
            button{
                background: transparent;
                border: none;
            }
            span{
                font-size: 25px;
                cursor: pointer;
            }
        }
        &__content{
            padding: 15px;
            .form-group{
                margin-bottom: 1rem;
                input{
                    display: block;
                    width: 94%;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
                button{
                    font: {
                        family: 'Futura PT Book', sans-serif;
                        size: 17px;
                    }
                    background: #007bff;
                    border:none;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    color:#fff;
                }
            }
        }
    }
}
.modal-delete{
    &.ind{
        z-index: 1;
    }
    font: {
        family: 'Futura PT Book', sans-serif;
    }
    opacity: 0;
    transition: opacity 0.1s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0,0,0,0.3);
    &__body{
        width: 40%;
        margin: 0px auto;
        background-color: #fff;
        max-height: 150px;
        margin-top: 100px;
        &__header{
            h5{
                font: {
                    size: 20px;
                }
            }
            display: flex;
            justify-content: space-between;
            padding: 15px;
            border-bottom:1px solid #ddd;
            button{
                background: transparent;
                border: none;
            }
            span{
                font-size: 25px;
                cursor: pointer;
            }
        }
        &__content{
            padding: 15px;
            h5{
                font-size: 16px;
            }
            &__btn{
                margin-top: 15px;
                margin-bottom: 15px;
                text-align: right;
                a{
                    text-decoration: none;
                }
                a:first-child{
                    @include btnC(#FF4136, #fff,4px,12px);
     
                }
                button{
                    cursor: pointer;
                    padding: 7px 12px;
                    @include btnC(#0074D9, #fff,7px,12px);
                }
            }
        }
    }
}